extends layout

block content
  div#circleList
  .clearfix
  .spacer
  .navbar.navbar-fixed-bottom
    .navbar-inner
      a.brand(href="#") Colors of teh internet
      ul.nav.pull-right
        li.dropdown
          a(href="#", class="dropdown-toggle", data-toggle="dropdown") About
          ul.span4.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
            li
              p These are the color pallets of the top 200 sites according to Alexa
            li
              p Each circle shows 4 colors with radius logarithmically related to importance
            li
              p The background color is the most prominate color on the site
            li
              a(target="_blank", href="https://github.com/dropdownmenu/webcolor") More at the README
        li
          a(target="_blank", href="http://twitter.com/ddmenu") @ddmenu

  script.
    var data = !{JSON.stringify(data)}
    $(function() {
      render(data);
    });


