doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/color/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/color/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='/color/javascripts/bootstrap.min.js')
    script(src='/color/javascripts/d3.min.js')
    script(src='/color/javascripts/engine.js')
  body
    block content