body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.navbar a.brand {
  padding-left: 70px;
}
li {
  float: left;
  list-style: none;
}
ul.dropdown-menu p {
  padding: 5px 20px;
}
#circleList div.container {
  float: left;
  margin: 0;
  padding: 0;
}
.example {
  float: right;
  width: 120px;
}
